*.user
*.user.*
build-*
*.so
*.so.*
*.pyc
*.o
*.obj
*.dll
*.exp
*.lib
Makefile
Makefile.*
*.aux.xml
*.orig
*~
nbproject*
corelib/release
corelib/debug
crayfish-lib-*.zip
plugin/crayfish.dll
plugin/crayfish.exp
plugin/crayfish.lib
*.zip
*-swp
.idea/
.idea/*
.vagrant/

