language: python
python:
  - '3.6'
install:
  - pip install pytest==3.7.1 pytest-cov==2.6.1 coveralls
script:
  - pytest crayfish/tests/ --cov=crayfish --cov-report term-missing
after_success:
  - coveralls