
body {
    font-family: IstokWeb, FreeSans, Geneva, Arial, sans-serif;
    font-size: 12pt;
    color: #505050;
    /*background-color: #efe1bb*/
    background-color: #fff;
}

a {
     color: #13aa49;
}

h1 {
    font-size: 16pt;
    font-weight:bold;
}

h2 {
    font-size: 14pt;
    font-weight:bold;
}
